@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

@font-face {
  font-family: blowbrush;
  src: url(../assets/fonts/blowbrush.ttf); }

#destacados {
  position: relative;
  min-height: 70vh;
  background: transparent;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 90%;
  margin: 0 auto; }
  #destacados h2 {
    font-family: blowbrush;
    font-size: 3em;
    font-weight: bold;
    padding: 30px;
    margin: 0; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  background-color: #1A1E17;
  color: #fff;
  position: relative;
  text-align: start;
  font-size: 18px;
  border-radius: 10px;
  text-align: start;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .swiper-slide:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.card-description {
  padding: 1rem 1rem; }

.card-title, .card-precio {
  margin-bottom: .5rem;
  text-align: center;
  margin: 10px;
  text-transform: capitalize; }

.card-link {
  text-align: center; }

.card-link {
  text-decoration: none;
  color: white; }

.swiper-button-next {
  right: 0px !important;
  color: #fff; }

.swiper-button-prev {
  left: 0px !important;
  color: #fff; }

.btn-1 {
  width: 10%;
  height: 5%;
  background-color: black;
  position: absolute;
  left: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px; }
  .btn-1 .btn-1-link {
    color: aliceblue;
    text-decoration: none; }

/************* MENU RESPONSIVE DESKTOP FIRST *************/
/** Menu de escritorio **/
header {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  color: #ffffff; }
  header .header__nav {
    list-style-type: none;
    flex: 1;
    margin-left: 20px; }
    header .header__nav .nav__list {
      display: flex;
      justify-content: flex-start;
      list-style: none;
      margin: 0;
      padding: 0; }
      header .header__nav .nav__list .list__item {
        margin-right: 20px; }
        header .header__nav .nav__list .list__item .item__link {
          font-family: 'Montserrat', sans-serif;
          text-decoration: none;
          font-weight: bold;
          color: #ffffff; }
          header .header__nav .nav__list .list__item .item__link:hover {
            text-decoration: underline; }

.header__text-white {
  color: #ffffff; }

.item__link-white {
  color: #ffffff !important; }

/** LOGO DE LA PAGINA **/
.header__icon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
  .header__icon .icon__item {
    display: inline-block;
    width: 100px;
    height: 60px; }
    .header__icon .icon__item .icon__img {
      max-width: 100%;
      max-height: 100%; }

/*************Carrito de compras***************/
.header__cart {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px; }
  .header__cart .bi.bi-bag {
    cursor: pointer; }
  .header__cart .cart__count {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 12px;
    line-height: 1;
    min-width: 20px;
    text-align: center; }

/*************Estilos para el modal **************/
#cart__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: #000;
  font-family: 'Montserrat', sans-serif; }
  #cart__modal .modal__container {
    background-color: white;
    margin: 10% auto;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; }
    #cart__modal .modal__container h2 {
      font-size: 1.4em; }
    #cart__modal .modal__container .comprar_container {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      #cart__modal .modal__container .comprar_container #btn-comprar {
        position: relative;
        display: inline-block;
        width: 15rem;
        height: 3rem;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #14d3aa;
        color: #1A1E17; }
        #cart__modal .modal__container .comprar_container #btn-comprar:hover {
          background-color: #10ad8b; }
      #cart__modal .modal__container .comprar_container #btn-vaciarCarrito {
        position: relative;
        display: inline-block;
        width: 15rem;
        height: 3rem;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff1f1f;
        color: #1A1E17; }
        #cart__modal .modal__container .comprar_container #btn-vaciarCarrito:hover {
          background-color: #c11919; }

#cart_total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em; }
  #cart_total #total-pagar {
    margin-left: 8px;
    margin-bottom: 8px; }

/* Estilos para el botón de cerrar */
.cerrar {
  color: #aaaaaa;
  display: inline;
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  border-radius: 0.5rem; }

.cerrar:hover,
.cerrar:focus {
  color: #ff1f1f;
  text-decoration: none;
  cursor: pointer; }

/* Estilos para la lista de productos */
#lista-carrito {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; }
  #lista-carrito li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 0.5px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px; }
    #lista-carrito li .producto_nombre {
      margin-right: 10px;
      display: inline-block;
      font-size: 1.3em; }
    #lista-carrito li .producto_precio {
      font-weight: bold; }
    #lista-carrito li .producto_eliminar {
      color: #ff1f1f;
      text-decoration: none;
      cursor: pointer; }

.bi.bi-trash {
  color: #ff1f1f;
  text-decoration: none;
  cursor: pointer; }
  .bi.bi-trash:hover {
    color: #b41717; }

/********FOOTER*********/
footer {
  background-color: #000000;
  /*font-family: 'Karla', sans-serif;*/
  font-family: 'Monument Extended', sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px auto;
  grid-template-areas: "logo-redes mail-telefono" "copyright copyright"; }

/********************* HERO *********************/
#hero {
  background-image: url(../assets/images/luces-neon-wall.jpg);
  background-size: cover;
  background-position: center top 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #hero .hero__title {
    font-family: blowbrush;
    font-size: 7em;
    padding: 100px 50px;
    color: #e0e0e0; }
  #hero .hero__subtitle {
    font-family: blowbrush;
    font-size: 2em;
    color: #e0e0e0; }

/*********************PROPAGANDA DESTACADA*********************/
#propaganda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }
  #propaganda .propaganda-container {
    padding: 30px 100px; }
  #propaganda img {
    width: 70vw;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50px;
    animation: cambiar-color 10s ease-in-out infinite;
    animation-direction: alternate;
    animation-fill-mode: both; }

@keyframes cambiar-color {
  0% {
    box-shadow: inset 0 0 100px red, 8px 0px 100px red; }
  25% {
    box-shadow: inset 0 0 100px yellow, 8px 0px 100px yellow; }
  50% {
    box-shadow: inset 0 0 100px lime, 8px 0px 100px lime; }
  75% {
    box-shadow: inset 0 0 100px cyan, 8px 0px 100px cyan; }
  100% {
    box-shadow: inset 0 0 100px magenta, 8px 0px 100px magenta; } }

.propagandas-destacados {
  background-image: url(../assets/images/paredNeon.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

/********************* SEPARADOR DE SECCIONES *********************/
.separador {
  width: 100%;
  height: 10px;
  background-color: white;
  border: 1px solid #c300ff;
  box-shadow: inset 0 0 5px #c300ff, 8px 0px 100px #c300ff; }

/************************ SECCION DE MARCAS ****************/
#marcas {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #b0b3f5 0%, #dfb8df 100%); }
  #marcas .marcas__container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "img img img" "img img img";
    padding: 30px;
    justify-items: center;
    align-items: center; }
    #marcas .marcas__container .container__marca {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }

.marca__img {
  width: 100%;
  grid-area: img; }
  .marca__img:hover {
    animation: rodar 2s infinite ease; }

.marca__img--white {
  width: 100%;
  filter: invert(100%);
  grid-area: img; }
  .marca__img--white:hover {
    animation: rodar 2s infinite ease; }

@keyframes rodar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

body {
  background-color: #000000; }

#compras {
  display: flex;
  flex-direction: column;
  align-items: center; }

#producto_container {
  background-color: #646464;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px; }
  #producto_container .producto {
    background-color: #1A1E17;
    border: 1px black solid;
    height: 500px;
    width: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.3rem; }
    #producto_container .producto .producto_nombre {
      color: #DFDFDF;
      margin: 10px;
      text-transform: capitalize; }
    #producto_container .producto .producto_precio {
      color: #DFDFDF;
      margin-bottom: 20px; }
    #producto_container .producto .producto_img {
      height: 200px;
      max-width: 90%;
      margin: 20px;
      border-radius: 0.2rem; }

.producto_img--cart {
  height: 50px;
  max-width: 100%;
  margin: 20px;
  border-radius: 0.2rem; }

.producto_btn {
  position: relative;
  display: inline-block;
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14d3aa;
  color: #1A1E17;
  margin-bottom: 20px; }
  .producto_btn:hover {
    background-color: #10ad8b; }
