/************* MENU RESPONSIVE DESKTOP FIRST *************/

/** Menu de escritorio **/
header{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width:100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: #ffffff;

    .header__nav{
        list-style-type: none;
        flex: 1;
        margin-left: 20px;

        .nav__list{
            display: flex;
            justify-content: flex-start;
            list-style: none;
            margin: 0;
            padding: 0;

            .list__item{
                margin-right: 20px;
                
                .item__link{
                    font-family: 'Montserrat', sans-serif;
                    text-decoration: none;
                    font-weight: bold;
                    color: #ffffff;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.header__text-white {
    color: #ffffff;
}
.item__link-white{
    color: #ffffff !important;
}


/** LOGO DE LA PAGINA **/
.header__icon{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .icon__item {
        display: inline-block;
        width: 100px;
        height: 60px;
        .icon__img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
/*************Carrito de compras***************/
.header__cart {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;

    .bi.bi-bag{
        cursor: pointer;
    }
    .cart__count {
        display: inline-block;
        background-color: #333;
        color: #fff;
        padding: 5px;
        border-radius: 50%;
        margin-left: 10px;
        font-size: 12px;
        line-height: 1;
        min-width: 20px;
        text-align: center;
    }
}



@media screen and (max-width: 768px) {
    header{
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        .header__nav{
            display: none;
            list-style-type: none;
            flex: 1;
            margin-left: 20px;
    
            .nav__list{
                display: flex;
                justify-content: flex-start;
                list-style: none;
                margin: 0;
                padding: 0;
    
                .list__item{
                    margin-right: 20px;
                    
                    .item__link{
                        font-family: 'Montserrat', sans-serif;
                        text-decoration: none;
                        font-weight: bold;
                        color: #ffffff;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
