/************* MENU RESPONSIVE DESKTOP FIRST *************/

/** Menu de escritorio **/
header{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .header__nav{
        list-style-type: none;
        flex: 1;
        margin-left: 20px;

        .nav__list{
            display: flex;
            justify-content: flex-start;
            list-style: none;
            margin: 0;
            padding: 0;

            .list__item{
                margin-right: 20px;
                
                .item__link{
                    font-family: 'Montserrat', sans-serif;
                    text-decoration: none;
                    font-weight: bold;
                    color: #000;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.header__text-white {
    color: #ffffff;
}
.item__link-white{
    color: #ffffff !important;
}


/** LOGO DE LA PAGINA **/
.header__icon{
    flex:1;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    .icon__item {
        display: inline-block;
        width: 60px;
        height: 60px;
        .icon__img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}
/*************Carrito de compras***************/
.header__cart {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;

    .bi.bi-bag{
        cursor: pointer;
    }
    .cart__count {
        display: inline-block;
        background-color: #333;
        color: #fff;
        padding: 5px;
        border-radius: 50%;
        margin-left: 10px;
        font-size: 12px;
        line-height: 1;
        min-width: 20px;
        text-align: center;
    }
}

/*************Estilos para el modal **************/
#cart__modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    color: #000;
    font-family: 'Montserrat', sans-serif;
    .modal__container{
        background-color: white;
        margin: 10% auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 10px;
        width: 80%;
        h2{
            font-size: 1.4em;
        } 
        .comprar_container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            #btn-comprar{
                position: relative;
                display: inline-block;
                width: 15rem;
                height: 3rem;
                border: none; 
                border-radius: 0.4rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #14d3aa;
                color:#1A1E17;
                &:hover{
                    background-color: #10ad8b;
                }
            }
            #btn-vaciarCarrito{
                position: relative;
                display: inline-block;
                // margin: 0 auto;
                width: 15rem;
                height: 3rem;
                border: none; 
                border-radius: 0.4rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:  #ff1f1f;;
                color:#1A1E17;
                &:hover{
                    background-color: #c11919;
                }
            }

        }
    }
}

#cart_total{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5em;
    #total-pagar{
        margin-left: 8px;
        margin-bottom: 8px;
    }
}


/* Estilos para el botón de cerrar */
.cerrar {
color: #aaaaaa;
display: inline;
float: right;
font-size: 28px;
font-weight: bold;
color: #000000;
border-radius: 0.5rem;
}

.cerrar:hover,
.cerrar:focus {
    color: #ff1f1f;
    text-decoration: none;
    cursor: pointer;
}

  /* Estilos para la lista de productos */
#lista-carrito {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; 
    li{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        border: 0.5px solid #000000;
        border-radius: 5px;
        margin-bottom: 10px;
        .producto_nombre{
            //flex-grow: 0.5;
            margin-right: 10px;
            display: inline-block;
            font-size: 1.3em;
        }
        .producto_precio{
            font-weight: bold;
            
        }
        .producto_eliminar{
            color: #ff1f1f;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
.bi.bi-trash{
    color: #ff1f1f;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: #b41717;
    }
}



