#destacados{
    position: relative;
    min-height: 70vh;
    background: transparent;
    font-size: 14px;
    color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    width: 90%;
    margin: 0 auto;

    h2{
        font-size: 1.8em;
        font-weight: bold;
        padding: 30px;
        margin-bottom: 10px;
    }
}

.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    background-color: #171717;
    color: #fff;
    position: relative;
    text-align: start;
    font-size: 18px;
    border-radius: 5px;
    text-align: start;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover{
        transform: scale(1.05);
        transition: transform 0.1s ease;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-description{
    padding:1rem 1rem;
}
.card-title,.card-precio{
    margin-bottom: .5rem;
    text-align: center;
    margin: 20px;
    text-transform: capitalize;
    font-size: 1.1em;
}
.card-link{
   text-align: center;
}
.card-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.swiper-button-next{
    right: 0px !important;
    color: #fff;
}
.swiper-button-prev{
    left: 0px !important;
    color: #fff;
}


@media screen and (max-width: 768px) {
    #destacados{
        min-height: 65vh;
        align-items: center;
        justify-content: flex-start;
        h2{
            font-size: 1.7em;
            padding: 20px;
        }
    }
    .swiper-slide{
        width: 20%;
        &:hover{
            transform: scale(1);
        }
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 20%px;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}