#hero{
  background-image: url(../../assets/images/luces-neon-wall.jpg);
  background-size: cover;
  background-position: center top 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
    .hero__title{
        font-family: blowbrush;
        font-size: 7em;
        padding: 100px 50px;
        color: rgb(224, 224, 224);
    }
    .hero__subtitle{
        font-family: blowbrush;
        font-size: 2em;
        color: rgb(224, 224, 224);
    }
}

#propaganda{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .propaganda-container{
      padding: 30px 100px;
    }
  img{
    width: 80vw;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    //box-shadow: inset 0 0 100px rgb(195, 0, 255), 8px 0px 100px rgb(195, 0, 255);
    border-radius: 50px;

    animation: cambiar-color 10s ease-in-out infinite;
    animation-direction:alternate;
    animation-fill-mode: both;
  }
}

@keyframes cambiar-color {
  0% {
    box-shadow: inset 0 0 100px rgb(255, 0, 0), 8px 0px 100px rgb(255, 0, 0);
  }
  25% {
    box-shadow: inset 0 0 100px rgb(255, 255, 0), 8px 0px 100px rgb(255, 255, 0);
  }
  50% {
    box-shadow: inset 0 0 100px rgb(0, 255, 0), 8px 0px 100px rgb(0, 255, 0);
  }
  75% {
    box-shadow: inset 0 0 100px rgb(0, 255, 255), 8px 0px 100px rgb(0, 255, 255);
  }
  100% {
    box-shadow: inset 0 0 100px rgb(255, 0, 255), 8px 0px 100px rgb(255, 0, 255);
  }
}

.propagandas-destacados{
  background-image: url(../../assets/images/paredNeon.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.separador{
  width: 100%;
  height: 10px;
  background-color: white;
  border: 1px solid rgb(195, 0, 255);
  box-shadow: inset 0 0 5px rgb(195, 0, 255), 8px 0px 100px rgb(195, 0, 255);
  
}