#hero{
  background-image: url(../../assets/images/luces-neon-wall.jpg);
  background-size: cover;
  background-position: center top 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
    .hero__title{
        font-family: blowbrush;
        font-size: 7em;
        padding: 100px 50px;
        color: rgb(224, 224, 224);
    }
    .hero__subtitle{
        font-family: blowbrush;
        font-size: 2em;
        color: rgb(224, 224, 224);
    }
}

#propaganda{
    display: flex;
    justify-content: center;
    align-items: center;
  img{
    width: 90vw;
    padding: 20px 100px;
  }
  
}

.propagandas-destacados{
  background-image: url(../../assets/images/paredNeon.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}