body{
    background-color: #000000;
}
#compras{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-image: url(../../assets/images/paredNeon.jpg);
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
}

#producto_container{
    background-color: #646464;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    .producto{
        background-color: #1A1E17;
        border: 1px black solid;
        height: 500px;
        width: 350px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 0.3rem;
        .producto_nombre{
            color: #DFDFDF;
            margin: 10px;
            text-transform: capitalize;
        }
        .producto_precio{
            color: #DFDFDF;
            margin-bottom: 20px;
        }
        .producto_img{
            height: 200px;
            max-width: 90%;
            margin: 20px;
            border-radius: 0.2rem;
        }
        
    }
}

.producto_img--cart{
    height: 50px;
    max-width: 100%;
    margin: 20px;
    border-radius: 0.2rem;
}
.producto_btn{
    position: relative;
    display: inline-block;
    width: 15rem;
    height: 3rem;
    border: none; 
    border-radius: 0.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14d3aa;
    color:#1A1E17;
    margin-bottom: 20px;
    &:hover{
        background-color: #10ad8b;
    }
}




